<div>
    <div class="row p-5 bg-warning">
        <div class="col-md-4">
            <h2><i class="fa-solid fa-basket-shopping"></i> Globomart</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste adipisci cum expedita eius libero sint
                itaque nulla reprehenderit impedit iure, tenetur neque distinctio totam, debitis consequatur. Itaque est
                voluptas quod!</p>

        </div>
        <div class="col-md-2">
            <h2 class='ms-3'>Links</h2>
            <ul style="list-style: none;">
                <li>Home Page</li>
                <li>Cart Page</li>
                <Link>
                <li>Wishlist</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h2 class='ms-3'>Assistance</h2>
            <ul style="list-style: none;">
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>Fontawesome</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Contact Us</h2>
            <div class="d-flex mt-4">
                <input class='form-control' type="text" placeholder='Enter Mail ID' />
                <button class='btn btn-warning ms-3'>Subscribe</button>
            </div>
            <div class='mt-4 d-flex justify-content-between'>
                <i class="fa-brands fa-instagram fa-xl"></i>
                <i class="fa-brands fa-twitter fa-xl"></i>
                <i class="fa-brands fa-facebook fa-xl"></i>
                <i class="fa-brands fa-linkedin fa-xl"></i>

            </div>
        </div>
        <div class="text-center mt-5">
            <p>Copyright ©️ 2024 Daily Cart. Built with Angular</p>
        </div>
    </div>
</div>